body{
    width: 90%;
    height: 600px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    background: radial-gradient(black, white);
    color: white;
}

.container-fluid{
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    border: dashed 2px black;
    box-shadow: 0px 10px 10px black;
}

.navbar-static-bottom {
    min-height: 120px;
    margin-top: 50px;
    padding-top: 35px;
}

.navbar-fixed-top {
    margin-bottom: 100px;
}

.row{
    box-shadow: 0px 5px 10px black;
}

ul{
    margin-top: 10px;
    list-style: none;
}

ul li a{
    border: solid 1px black;
    border-radius: 6px;
    padding: 4px;
    color: blue;
}

.list-group-item{
    color: blue;
}

.error{
    color: orangered;
}

.list-group-item>a:hover, a:hover, button[type="submit"]:hover{
    background: black;
    color: white;
}

#promotions{
    color: orange;
}

.date{
    border: solid 1px orange;
    border-right: none;
    border-radius: 3px;
    padding: 7px;
}